/* Home.css */
.video-container {
  position: relative;
  height: 100vh; /* Set a fixed height for the video container */
  overflow: hidden;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay to improve text visibility */
  height: 100%;
  padding-top: 56px; /* Adjust this value based on your navbar's height */
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
